[submodule "containers"]
	path = containers
	url = http://github.com/ReproNim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
[submodule "sourcedata"]
	path = sourcedata
	url = https://github.com/ReproNim/ds000003-demo
	datalad-id = 9040fae2-8704-11e8-aff3-0242ac12000c
